@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #633567;
    text-decoration: none;}
body{
    font-family: 'Courier New', Courier, monospace;
}
a. a:hover{
    text-decoration: none;
}
header{
    position: f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background: #d2a5d6;
}
header ul{
    list-style: none;
    display: flex;
}
header li{
    margin: 0px 5 px;
    list-style: none;
}
header a{
    color:rgb(79, 37, 79);
}
header a:hover{
    color: rgb(146, 110, 179);
}
.logo {
    cursor: pointer;
    margin-right:auto;
    height: 175px;
    width: auto;
    margin-left: 100px;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    margin-right: 10px;
}
.nav_links li a :hover{
  color: rgb(143, 98, 183);}
button{
    padding: 9px 25px;
    background-color: rgba(246, 212, 247, 0.6);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-right: 20px;
}
button :hover{
    background-color: rgba(246, 212, 247, 0.6);
}