@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat&family=Poppins:wght@300;400;600&display=swap');

*{  margin: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.body{
    background-color: rgb(255, 255, 255);
}
.container {
    position: relative;
    max-width: 480px;
    width: 100%;
    border-radius: 8px;
    padding: 25px;
    margin: 85px auto 0;
    background-color: rgb(228, 188, 224);
    box-shadow: 0px 5px 10px rgba(218, 151, 151, 0.1);
}
.container .input-field{
    position: relative;
    height: 80px;
    width: 100%;
}
.input-field textarea{
    height: 80%;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    border-radius: 8px;
    padding: 18px 45px 18px 15px;
    border: 1px solid rgb(91, 33, 87);
    resize: none;
}
.input-field textarea:focus ~.note-icon{
    color: beige;}

textarea::-webkit-scrollbar {
    display: none;
}
.input-field .note-icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 24px;
    color: rgb(91, 33, 87);
    cursor: default;
}
.container .input-field{
    margin-top: 20px;
   cursor: default;
}
.input-field .field{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: rgb(187, 135, 178);
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 10px;
    cursor: default;
}
.date{
    position: absolute;
    margin: 0px 30px 0px 0px;
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 225px;
    background-color: transparent;
    border-color: transparent;
    color: rgb(70, 56, 69);
}
.ToDoList .List input{
    height: 16px;
    min-width: 16px;
    accent-color: #bdb6b6;
    pointer-events: none;
}
.ToDoList .List .events{
    margin: 0px 30px 0px 15px;
    word-break: break-all;
}
.List input:checked~.task{
    text-decoration: line-through;
}
.container .input-field i{
    
    display: none;
    height: 10px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #CDA0BC;
    padding: o o o 10px;
    background: rgba(255, 255, 255, 0.1)
}
.container .List:hover i{
    display: inline-flex;
}
.container .List i:hover{
    opacity: 1;
}
.container .pending-events{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
}
.pending-events span{
    padding: 2px 0 25px ;
    color: #5a4b5a;
}
.pending-events .clear-button{
    padding: 6px 10px;
    outline: none;
    border: none;
    color:rgb(98, 27, 100);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    /* margin: 0.4rem 0; */
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 15px;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 92%;
    background: #CDA0BC;
    cursor:pointer ;
    display: flex;
    justify-content: center;
}
.form{
    padding: 4px 0 0 0 ;
    margin: 0.4rem 0;
    outline: none;
    width: 90%;
    border: none;
    background: honeydew;
    color:rgb(98, 27, 100);
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    height: 45px;
    
    
}
.clear-button:hover{
    background-color: rgb(136, 122, 136);
}
.input{
    color: #5a4b5a;
    display: inline;
}
.text{
    color: #5a4b5a;
    height: 20px;
}
.block{
    width:100%;
}

.block, .input-block{
    border-radius: 5px;
    padding: 5px 10px;
    

}

.input-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}